[Unit]
Description=Apply the HPC Configuration to this node
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/hpc-config-apply

[Install]
WantedBy=multi-user.target
